<div id="particles" class="login">
    <div class="color-overlay"></div>
    <div class="container-login">
        <div class="wrap-login">
            <form class="login-form" method="post" action="/register">
                <div class="wrap-input">
                    <input name="username" class="input" type="text" placeholder="Username" autocomplete="off">
                    <span class="focus-input" data-placeholder="&#xf207;"></span>
                </div>
                <div class="wrap-input">
                    <input name="password" class="input" type="password" placeholder="Password" autocomplete="off">
                    <span class="focus-input" data-placeholder="&#xf191;"></span>
                </div>
                <div class="container-login-form-btn">
                    <button type="submit" class="login-form-btn">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>