.square90{width:90px!important;height:90px!important;}
.square50{width:50px!important;height:50px!important;}
.nobg{background-color:transparent!important;}
.w50{width:50px !important;}
.w100{width:100px !important;}
.w180{width:180px !important;}