<section id="checkout">
    <div class="row">
        <div class="col-xl-12 col-12 dashboard-marketing-campaign">
            <div class="card marketing-campaigns">
                <div class="card-header d-flex justify-content-between align-items-center pb-1">
                    <h4 class="card-title">Check Out</h4>
                    <a href="/checkout"><i class="zmdi zmdi-refresh font-medium-3 cursor-pointer"></i></a>
                </div>
                <div class="table-responsive">
                    <table id="table-marketing-campaigns" class="table table-borderless table-marketing-campaigns mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Client</th>
                                <th>Checked in</th>
                                <th>InProgress</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="transaction in transactions" :key="transaction._id">
                                <td class="py-1">
                                    <span class="info">${transaction.order}</span>
                                </td>
                                <td class="py-1">
                                    <img class="img-fluid" width="80" height="80" v-bind:src="transaction.client.avatar">
                                    <span class="info"><i class="bx bx-phone"></i> ${transaction.client.phone}</span>
                                </td>
                                <td class="py-1">
                                    <span class="text-danger" v-if="!transaction.inProgress">${transaction.checkedIn | fromNow}</span>
                                </td>
                                <td class="py-1">
                                    <span class="text-success" v-if="transaction.inProgress">${transaction.inProgress | fromNow}</span>
                                    <fieldset v-else>
                                        <div class="checkbox checkbox-success checkbox-glow">
                                            <input v-on:click="inProgress(transaction)" type="checkbox" id="inProgress">
                                            <label for="inProgress">inProgress</label>
                                        </div>
                                    </fieldset>
                                </td>
                                <td class="text-success py-1">
                                    <span class="badge badge-light-danger" v-if="!transaction.inProgress">Waiting</span>
                                    <span class="badge badge-light-success" v-else-if="!transaction.checkedOut">In Progress</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="operator" value="{{operator}}">
</section>
<script src="/js/scripts/modal/components-modal.min.js"></script>
<script type="text/javascript">
$(function() {
    Vue.use(new VueSocketIO({
        connection: io('/')
    }));
    new Vue({
        el: "#checkout",
        delimiters: ['${', '}'],
        data: {
            transactions: [],
            interval: null
        },
        sockets: {
            connect: function() {
                this.$socket.emit('operator', { _id: $('#operator').val() });
            },
            checkin: function(data) {
                if (data) {
                    this.transactions.push(data);
                }
            }
        },
        methods: {
            inProgress: function(item) {
                var that = this;
                $.ajax({
                    type: 'POST',
                    url: '/checkout/inprogerss/' + item._id
                }).done(function(e) {
                    that.$set(item, 'inProgress', e.inProgress);
                });
            },
            avatar: function(item) {
                item.client.avatar = LetterAvatar(item.client.name || '#' + item.order, 60);
            }
        },
        filters: {
            fromNow: function(date) {
                var offset = new Date().getTime() - new Date(date).getTime();
                return new Date(offset).toISOString().slice(offset > 3600000 ? 11 : 14, 19) + ' ago';
            }
        },
        created: function() {
            var that = this;
            $.ajax({
                type: 'GET',
                url: '/checkout/transactions/' + $('#operator').val()
            }).done(function(e) {
                that.transactions = e.transactions;
            });
            this.interval = setInterval(function() {
                that.$forceUpdate();
            }, 1000);
        },
        beforeDestroy() {
            clearInterval(this.interval);
        }
    });
});
</script>