<section id="checkout">
    <div class="row match-height">
        <div class="col-12">
            <div class="card bg-transparent shadow-none">
                <div class="card-content">
                    <div class="card-body">
                        <a class="icon-refresh" href="#" v-on:click="refresh()"><i class="zmdi zmdi-refresh zmdi-hc-2x white"></i></a>
                        <table class="table table-striped table-dark mb-0">
                            <thead>
                                <tr>
                                    <th class="w50">
                                        <div class="custom-control custom-switch custom-switch-success">
                                            <input type="checkbox" v-model="isDone" class="custom-control-input" id="customSwitchcolor2">
                                            <label class="custom-control-label" for="customSwitchcolor2"></label>
                                        </div>
                                    </th>
                                    <th>Name</th>
                                    <th class="w180">Phone Number</th>
                                    <th class="w180">Checked in</th>
                                    <th class="w180">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="transaction in showing" :key="transaction._id">
                                    <td>
                                        <div class="avatar bg-rgba-primary p-50 square50">
                                            <img class="img-fluid" width="40" height="40" v-bind:src="order(transaction)">
                                        </div>
                                    </td>
                                    <td><b>${transaction.client.name}</b>
                                    </td>
                                    <td>${transaction.client.phone}</td>
                                    <td>
                                        <div v-if="!transaction.checkedOut">
                                            <div class="text-warning text-center">${transaction.checkedIn | fromNow}</div>
                                            <div class="badge badge-pill badge-warning mr-1 mb-1 display-block">Waiting</div>
                                        </div>
                                    </td>
                                    <td>
                                        <fieldset v-if="!transaction.checkedOut">
                                            <div class="checkbox checkbox-info checkbox-glow">
                                                <input type="checkbox" :id="transaction._id" v-on:click="checkout(transaction)">
                                                <label class="white" :for="transaction._id">Done</label>
                                            </div>
                                        </fieldset>
                                        <section v-if="transaction.checkedOut">
                                            <div class="text-success text-center">${transaction.checkedOut | fromNow}</div>
                                            <div class="badge badge-pill badge-success mr-1 mb-1 display-block">Checked Out</div>
                                        </section>
                                    </td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="operator" value="{{operator}}">
</section>
<style type="text/css">
    html body{background-color: #40566F; margin:0; padding:0;}
.content-wrapper {
    padding: 0 !important;
}

.card-body {
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
}

.icon-refresh {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 20px;
    z-index: 9;
}

.tab-content {
    padding: 0 !important;
}
</style>
<script type="text/javascript">
$(function() {
    Vue.use(new VueSocketIO({
        connection: io('/')
    }));
    new Vue({
        el: "#checkout",
        delimiters: ['${', '}'],
        data: {
            transactions: [],
            displaying: [],
            interval: null,
            isDone: false
        },
        sockets: {
            connect: function() {
                this.$socket.emit('operator', { _id: $('#operator').val() });
            },
            checkin: function(data) {
                if (data) {
                    this.transactions.push(data);
                    console.log('updated');
                }
            }
        },
        computed: {
            showing: function() {
                var that = this;
                return this.transactions.filter(function(e) {
                    return that.isDone ? e.checkedOut : !e.checkedOut;
                });
            }
        },
        methods: {
            refresh: function() {
                window.location.assign('/checkout');
            },
            checkout: function(item) {
                var that = this;
                $.ajax({
                    type: 'POST',
                    url: '/checkout/' + item._id
                }).done(function(e) {
                    that.$set(item, 'checkedOut', e.checkedOut);
                });
            },
            avatar: function(item) {
                return LetterAvatar(item.client.name, 60);
            },
            order: function(item) {
                return LetterAvatar('#' + item.order, 40);
            }
        },
        filters: {
            fromNow: function(date) {
                var offset = new Date().getTime() - new Date(date).getTime();
                return new Date(offset).toISOString().slice(offset > 3600000 ? 11 : 14, 19) + ' ago';
            }
        },
        created: function() {
            var that = this;
            $.ajax({
                type: 'GET',
                url: '/checkout/transactions/' + $('#operator').val()
            }).done(function(e) {
                that.transactions = e.transactions;
            });
            this.interval = setInterval(function() {
                that.$forceUpdate();
            }, 1000);
        },
        beforeDestroy() {
            clearInterval(this.interval);
        }
    });
});
</script>