<section id="app" class="users-list-wrapper">
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
            <section id="multiple-column-form">
                <div class="col-12">
                    <div class="card" v-for="(item, index) in services" :key="item._id">
                        <i class="delete zmdi zmdi-delete zmdi-hc-lg danger" v-on:click="remove(index, services)"></i>
                        <div class="card-header">
                            <input type="text" class="form-control col-10" placeholder="Name" v-model="item.name">
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row" v-for="(i, index) in item.services" :key="i._id">
                                        <div class="col-2"></div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control" placeholder="Name" v-model="i.name">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="form-label-group">
                                                <input type="number" class="form-control" placeholder="Price" v-model="i.price">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="form-label-group">
                                                <i class="zmdi zmdi-delete zmdi-hc-lg danger" v-on:click="remove(index, item.services)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="add zmdi zmdi-plus zmdi-hc-4x info" @click="add(item.services)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="add zmdi zmdi-plus zmdi-hc-4x info" @click="addCategory()"></i>
                    <button type="button" v-on:click="save" class="btn btn-primary btn-block glow users-list-clear mb-0" :disabled="loading">Save changes
                        <span v-if="loading" class="spinner-grow spinner-grow-sm"></span>
                    </button>
                    <br /><br /><br />
                </div>
            </section>
        </div>
        <div class="col"></div>
        <input id="services" type="hidden" value="{{services}}">
    </div>
</section>
<style type="text/css">
.delete {
    position: absolute;
    right: 20px;
    top: 33px;
}

.add {
    float: right;
}
</style>
<script type="text/javascript">
$(function() {
    new Vue({
        el: "#app",
        data: {
            services: [],
            loading: false
        },
        methods: {
            remove: function(index, e) {
                e.splice(index, 1);
            },
            add: function(e) {
                e.push({
                    name: '',
                    price: ''
                });
            },
            addCategory: function() {
                this.services.push({
                    name: '',
                    services: [{
                        name: '',
                        price: ''
                    }]
                });
            },
            save: function() {
                this.loading = true
                $.ajax({
                    type: 'POST',
                    url: '/bo/service',
                    data: JSON.stringify(this.services),
                    contentType: 'application/json'
                }).done(function(e) {
                    window.location.reload();
                });
            }
        },
        created: function() {
            this.services = JSON.parse($('#services').val());
        }
    });
});
</script>