<section id="app" class="users-list-wrapper">
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
            <section id="multiple-column-form">
                <div class="col-12">
                    <div class="card" v-for="item in services" :key="item.name">
                        <i class="delete zmdi zmdi-delete zmdi-hc-lg danger" @click="remove(index, item.services)"></i>
                        <div class="card-header">
                            <input type="text" class="form-control col-10" placeholder="Name" v-model="item.name">
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row" v-for="(i, index) in item.services" :key="i.name">
                                        <div class="col-2"></div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control" placeholder="Name" v-model="i.name">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control" placeholder="Price" v-model="i.price">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="form-label-group">
                                                <i class="zmdi zmdi-delete zmdi-hc-lg danger" @click="remove(index, item.services)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="add zmdi zmdi-plus zmdi-hc-4x info" @click="add(item.services)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="add zmdi zmdi-plus zmdi-hc-4x info" @click="addCategory()"></i>
                </div>
            </section>
        </div>
        <div class="col"></div>
    </div>
</section>
<style type="text/css">
.delete {
    position: absolute;
    right: 20px;
    top: 33px;
}

.add {
    float: right;
}
</style>
<script type="text/javascript">
$(function() {
    new Vue({
        el: "#app",
        data: {
            services: [{
                name: 'Hair',
                services: [{
                    name: 'Haircut',
                    price: '$50'
                }, {
                    name: 'Cut & Blowdry',
                    price: '$50'
                }, {
                    name: 'Hair treatment',
                    price: '$50'
                }, {
                    name: 'Colouring',
                    price: '$50'
                }, {
                    name: 'Cut & Blowdry',
                    price: '$50'
                }, {
                    name: 'Highlights',
                    price: '$50'
                }]
            }, {
                name: 'Massage',
                services: [{
                    name: 'Full Body Massage',
                    price: '$50'
                }, {
                    name: 'Back, Neck & Shoulders',
                    price: '$50'
                }]
            }, {
                name: 'Facials',
                services: [{
                    name: 'Luxury Facial',
                    price: '$50'
                }, {
                    name: 'Pro Acne Facial',
                    price: '$50'
                }]
            }]
        },
        methods: {
            submit: function(e) {},
            remove: function(index, e) {
                e.splice(index, 1);
            },
            add: function(e) {
                e.push({
                    name: '',
                    price: ''
                });
            },
            addCategory: function() {
                this.services.push({
                    name: '',
                    services: [{
                        name: '',
                        price: ''
                    }]
                });
            }
        }
    });
});
</script>