<section id="app" class="users-edit">
    <div class="users-list-filter px-1">
        <div class="row py-2 mb-2">
            <div class="col-12 col-sm-6 col-lg-11"></div>
            <div class="col-12 col-sm-6 col-lg-1 d-flex">
                <button v-if="id" v-on:click="remove" type="button" class="btn btn-danger btn-block glow users-list-clear mb-0">Delete</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <form novalidate v-on:submit="submit" action="#" autocomplete="off">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="controls">
                                    <label>Username</label>
                                    <input v-model="user.username" type="text" class="form-control" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Password</label>
                                    <input v-model="user.password" type="password" class="form-control" placeholder="Password" autocomplete="new-password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Name</label>
                                    <input v-model="user.name" type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>E-mail</label>
                                    <input v-model="user.email" type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Role</label>
                                <select v-model="user.role" class="form-control">
                                    <option>admin</option>
                                    <option>client</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Birthday</label>
                                    <input v-model="user.dob" type="email" class="form-control birthdate-picker" placeholder="Birthday yyy-mm-dd">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Address</label>
                                    <input v-model="user.address" type="text" class="form-control" placeholder="Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Phone number</label>
                                    <input v-model="user.phone" type="text" class="form-control" placeholder="Phone number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <fieldset>
                                <div class="checkbox checkbox-secondary checkbox-glow">
                                    <input v-model="user.isActive" type="checkbox" id="isActive">
                                    <label for="isActive">isActive</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                            <a href="/admin/user" class="btn btn-light">Cancel</a> &nbsp; <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function() {
    new Vue({
        el: "#app",
        data: {
            user: JSON.parse('{{{ user }}}'),
            id: '{{ id }}'
        },
        methods: {
            submit: function(e) {
                event.preventDefault();
                if (this.id) {
                    delete this.user._id;
                    $.ajax({
                        type: 'PUT',
                        url: '/api/user/' + this.id,
                        data: JSON.stringify(this.user),
                        contentType: 'application/json'
                    }).done(function(e) {
                        window.location = '/admin/user';
                    }).fail(function() {
                        //
                    });
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/api/user',
                        data: JSON.stringify(this.user),
                        contentType: 'application/json'
                    }).done(function(e) {
                        window.location = '/admin/user';
                    }).fail(function() {
                        //
                    });
                }
            },
            remove: function() {
                event.preventDefault();
                if (confirm('Are you sure to delete?')) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/api/user/' + this.id
                    }).done(function(e) {
                        window.location = '/admin/user';
                    }).fail(function() {
                        //
                    });
                }
            }
        }
    });
});
</script>
<!-- <script type="text/javascript">
new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
        users: []
    },
    created() {
        this.fetch();
    },
    methods: {
        fetch() {
            $.get('/api/user').then(data => {
                this.users = data;
                console.log(this.users);
            })
        }
    },
    computed: {
        loading: function() {
            return this.users.length === 0;
        }
    }
});
</script> -->